* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #999999;
}
a {
  text-decoration: none;
  color: #1D6BFF;
}
.app {
  display: table;
  margin: 0 auto;
  max-width: 992px;
  padding: 15px;
}
.settings {
  vertical-align: top;
  display: table-cell;
  padding: 0 15px;
  width: 600px;
  min-width: 300px;
  line-height: 1.5em;
}
.preview {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 350px;
}
.preview > .fixed-wrapper {
  position: fixed;
  width: 350px;
  padding: 0 15px;
  margin-right: 15px;
  border: 2px dashed #DFDFDF;
}
#builderNewMenu {
  margin-top: 15px;
  padding: 10px 15px;
  min-height: 40px;
  border: 2px solid #DFDFDF;
  background-color: #F0F0F0;
}
#builderNewMenu .selectDropdown {
  display: none;
  margin: 15px 0 0 0;
  padding: 0 0 15px 0;
}
#builderNewMenu.open .selectDropdown {
  display: block;
}
#builderNewMenu .selectDropdown > li {
  list-style: none;
}
#activeInputs {
  margin: 0;
  padding: 0;
}
#activeInputs input, #activeInputs textarea {
  display: block;
}
#activeInputs > li.inputBlock {
  display: block;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px 15px;
  min-height: 40px;
  border: 2px solid #DFDFDF;
  background-color: #FCFCFC;
}
#activeInputs > li.inputBlock h3 {
  display: inline-block;
  margin: 0;
  width: 90%;
  font-size: 1em;
}
#activeInputs > li.inputBlock > .inputBlockControl {
  float: right;
  padding: 0 5px;
  width: 10%;
  font-size: 1.2em;
  text-align: right;
  cursor: pointer;
}
#activeInputs > li.inputBlock > .inputBlockControl:hover {
  color: #1D6BFF;
}
#activeInputs > li.inputBlock > .inputSettings {
  display: none;
  margin-top: 7.5px;
  padding: 7.5px;
}
#activeInputs > li.inputBlock.open > .inputSettings {
  display: block;
}
#activeInputs > li.inputBlock > .inputSettings > .item {
  margin-bottom: 15px;
}
#activeInputs > li.inputBlock > .inputSettings > .item > .itemSwitch {
  display: inline-block;
}
#activeInputs > li.inputBlock > .inputSettings > .item > .itemContent {
  padding-left: 15px;
  font-size: .8em;
}
#activeInputs > li.inputBlock > .inputSettings > .item > .itemContent.hidden {
  display: none;
}
#activeInputs > li.inputBlock > .inputSettings > .item > .itemContent > input {
  display: block;
}
#activeInputs > li.inputBlock > .inputSettings > .item > .itemContent > .itemComment {
  display: block;
}

/* FORM */
.form {
  line-height: 1.5em;
}
.form .input {
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  padding: 7px 15px;
  font-size: 16px;
  border: 2px solid #999999;
  border-radius: 25px;
  outline: none;
  color: #999999;
}
.form .input:focus, .form .input.passed:focus {
  border-color: #666666;
  background-color: #FFFFFF;
  color: #666666;
}
.form .input.passed {
  border-color: #37C473;
  background-color: #E7FFF2;
  color: #37C473;
}
.form .input.error {
  border-color: #FF7989;
  background-color: #FFECEE;
  color: #FF7989;
}
.form .input.error:focus {
  border-color: #FF7989;
  background-color: #FFFFFF;
  color: #FF7989;
}
.form .button, .form .button.default {
  cursor: pointer;
  height: 48px;
  margin-bottom: 15px;
  padding: 7px 30px;
  font-size: 16px;
  border: 2px solid #666666;
  border-radius: 25px;
  outline: none;
  background-color: #666666;
  color: #FFFFFF;
}
.form .button.main {
  border-color: #1D6BFF;
  background-color: #1D6BFF;
  color: #FFFFFF;
}
.form .errorContainer {
  padding: 0 15px;
  margin: 0;
}
.form .errorContainer .error {
  list-style: none;
  font-size: .85em;
  line-height: 1.45em;
  color: #FF7989;
}
.form .errorContainer *:last-child {
  margin-bottom: 15px;
}
